body{
background-color: #FFFFFF;
padding: 0px;
}

/* Palette - Primary: Yellow 500 (#FFEB3B), 100 (#FFF9C4), 600 (#FDD835) Accent: Deep Orange A400 (#FF3D00), Back-ups A200 (#FF6E40) and A700 (#DD2C00)*/

/* BEGIN TYPOGRAPHY FORMATTING

*--font-size and weight based on material design with h1-4 replacing display 4-1, all other class titles remain the same as in MD 

*/

h1{
margin: 0px;
font-size: 84px;
font-family: 'Roboto', sans-serif;
font-weight: 300;
}

h2{
margin: 0px;
font-size: 42px;
font-family: 'Roboto', sans-serif;
font-weight: 400;    
}

h3{
font-size: 34px;
font-family: 'Roboto', sans-serif;
font-weight: 400;   
}

h4{
font-size: 26px;
font-family: 'Roboto', sans-serif;
font-weight: 400;   
}

.headline{
font-size: 18px;
font-family: 'Roboto', sans-serif;
font-weight: 400;   
}

.title{
font-size: 15px;
font-family: 'Roboto', sans-serif;
font-weight: 500;
}

.subhead{
font-size: 11px;
font-family: 'Roboto', sans-serif;
font-weight: 400;
}


.body2{
font-size: 10px;
font-family: 'Roboto', sans-serif;
font-weight: 500;
}

.body1{
font-size: 10px;
font-family: 'Roboto', sans-serif;
font-weight: 400;
}

.caption{
font-size: 9px;
font-family: 'Roboto', sans-serif;
font-weight: 400;
}

.button{
font-size: 9px;
text-transform: uppercase;
font-family: 'Roboto', sans-serif;
font-weight: 500;    
}

/* -- END TYPOGRAPHY FORMATTING

*/

div{
border: solid black 5px;
}

#intro{
background-color: rgb(189, 213, 255);
margin: 10px 10px 10px;
padding: 10px;
text-align: justify;
width: 700px;
float: left;}

header{
height: 400px;
padding: 0px;
display: flex;
flex-direction: column;
background-color: #FFEB3B;
}

.headerText{
text-align: center;
}

.titleSpace{
display: flex;
flex-direction: row;
flex: 3;
}

#headshotContainer{
flex: 1;
}

#headshot{
margin: auto;
display: block;
border: solid black 1px;
border-radius: 150px;
max-height: 300px;
}

#title{
flex: 2;
margin: 0px auto 0px;
}

nav{
display: block;
text-align: right;
padding: 3px;
flex: 1;
}

nav li{
display: inline;
font-size: 24px;    
margin: 0px 0px 0px;  
}

#goals{
width: 100%;
padding: 5% 20% 5%;
}

